@{
  ViewData["Title"] = "Home Page";
}

<div class="text-justify">
  <h1 class="display-4">O TJ Sokol Díly</h1>

  <label for="expirationdate">Expiration (mm/yy)</label>
  <input id="expirationdate" type="text" pattern="[0-9]*" inputmode="numeric">

</div>



@section Scripts {

  <script type="text/javascript">
    $(function () {

      const time = $("#expirationdate").get(0); // document.getElementById('expirationdate');


      var time_mask = new IMask(time, {
        mask: 'HH{:}MM{:}SS',
        blocks: {
          HH: {
            mask: IMask.MaskedRange,
            from: 0,
            to: 23
          },
          MM: {
            mask: IMask.MaskedRange,
            from: 0,
            to: 59
          },
          SS: {
            mask: IMask.MaskedRange,
            from: 0,
            to: 59
          }
        }
      });


      const expirationdate = document.getElementById('expirationdate');
      // var expirationdate_mask = new IMask(expirationdate, {
      //   mask: 'MM{/}YY',
      //   blocks: {
      //     YY: {
      //       mask: IMask.MaskedRange,
      //       from: 0,
      //       to: 99
      //     },
      //     MM: {
      //       mask: IMask.MaskedRange,
      //       from: 1,
      //       to: 12
      //     }
      //   }
      // });



    });
  </script>
}